<div id="simulation_container" style="display: none;">
    <div class="deploy_legend" style="padding: 0;">
        <ul class="centered four_up tiles">
            <li>
                <p><i class="icon-left-bold"></i></p>
            </li>
            <li>
                <p>Retaguardia</p>
            </li>
            <li>
                <p>Vanguardia</p>
            </li>
            <li>
                <p><i class="icon-right-bold"></i></p>
            </li>

        </ul>
        <div id="battle_deploy"></div>
    </div>
</div>