<div class="title_bar">
    <h4>Leyenda</h4>
</div>
<div class="deploy_legend">
    <ul class="two_up tiles">
        <li>
            <p>Cuerpo a cuerpo</p>
        </li>
        <li>
            <p><i class="icon-record" id="melee_icon"></i></p>
        </li>
        <li>
            <p>Defensa</p>
        </li>
        <li>
            <p><i class="icon-record" id="defense_icon"></i></p>
        </li>
        <li>
            <p>Distancia</p></li>
        <li>
            <p><i class="icon-record" id="distance_icon"></i></p>
        </li>
    </ul>
</div>