{% extends "simplewars/base.html" %}
{% block title %}SimpleWars - Modificar formación{% endblock %}
{% block content %}
    <div class="modal" id="modal1">
        <div class="row">
            <div class="centered twelve columns">
                <div class="dialog">
                    <h4>¿Está seguro?</h4>

                    <p>La formación se perderá</p>

                    <p class="medium metro info btn">
                        <a href="#" class="switch" gumby-trigger="|#modal1" onClick="delete_formation()">Aceptar</a>
                    </p>

                    <p class="medium metro info btn">
                        <a href="#" class="close switch" gumby-trigger="|#modal1">Cancelar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="upgrade_in_formlist" style="display:none;">
            <div class="twelve columns">
                <div style="display:none;">
                    {% include 'simplewars/partials/credits.html' %}</div>
                <div id="wrapper"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <div class="title_bar">
                <h4>Formación</h4>
            </div>
            <div class="panel">
                <p id="formation_name"></p>

                <p class="medium metro info btn" style="display:none" ;>
                    <a href="#!" id="modify_formation" onClick="save_modified_formation()">Modificar</a>
                </p>

                <p class="medium metro info btn" style="display:none" ;>
                    <a href="#!" id="cancel_load" onClick="show_form_deploy(false);">Cerrar</a>
                </p>

                <form id="mod_formation" action="{% url 'list-formation' %}" method="post" style="display:none;">
                    {% csrf_token %}
                    <p class="medium metro info btn">
                        <a href="#!" onClick="load_formation()">Cargar</a>
                    </p>

                    <p class="medium metro info btn">
                        <a href="#" class="switch" gumby-trigger="#modal1">Eliminar</a>
                    </p>
                </form>
            </div>
            {% include 'simplewars/partials/messages.html' %}
            {% include 'simplewars/partials/selected_units.html' %}
            {% include 'simplewars/partials/deploy_legend.html' %}
        </div>
        <div class="eight columns">
            {% include 'simplewars/partials/deploy_container.html' %}
            {% include 'simplewars/partials/formation_list.html' %}
        </div>
    </div>
{% endblock %}